$main-color: #111;
$second-color: white;

$main-font-color: white;
$second-font-color: black;

.custom-button {
  background-color: $main-color;
  color: $main-font-color;
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $second-color;
    color: $second-font-color;
    border: 1px solid black;
  }
  &.google-sign-in{
    background-color: #4285f4;
    color:white;
    &:hover{
     background-color: #357ae8;
     border: none;
    }
  }
}
