.header {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
